/* css styles */
p {
  text-align: justify;
}

/*.date {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}*/

.caption {
  color: grey;
  font-style: normal;
  text-align: left;
  font-size: 0.9em;
}